version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    env_file: .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - guardian-net

  broker:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    networks:
      - guardian-net

  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - db
      - broker
    networks:
      - guardian-net

  worker:
    container_name: guardian-worker-fixed
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A worker.celery_app worker --loglevel=info
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock
      - zap-data:/zap-data
    environment:
      - ZAP_VOLUME_NAME=zap-data-vol
      - HOST_WORK_DIR=${PWD}
    env_file: .env
    depends_on:
      - db
      - broker
    networks:
      - guardian-net

volumes:
  pgdata:
  zap-data:
    name: zap-data-vol

networks:
  guardian-net:
    driver: bridge
